.title {
    font-size: 40px;
    color: var(--clr-text);
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 12px;
}

.phonetic {
    font-size: 20px;
    color: var(--clr-accent);
    font-weight: 500;
}

.subtitle {
    color: var(--clr-text);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 32px;
}

.subtitle-light {
    font-size: 18px;
    color: var(--clr-grey);

    font-weight: 400;
    margin-bottom: 12px;
}

.explanation-item {
    color: var(--clr-text);
    position: relative;
    width: 100%;
    padding-left: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 180%;
}


.explanation-item:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--clr-accent);
    border-radius: 6px;
    left: 0;
    top: calc(50% - 3px);
}

.exemple{
    font-size: 16px;
    color: var(--clr-grey);
padding-left: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}

.subtitle-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    column-gap: 24px;
}

.subtitle-line {
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--clr-light);
}